body {
    /* color for background */
    background-color: rgb(87, 0, 145);
  
    /* custom font */
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
  
    /* added padding to prevent navbar overlap */
    padding-top: 90px;
    vertical-align: middle;
  }
  
  input {
    background: transparent;
    border: none;
    padding-left: 3px;
  }
  
  
  .navbar {
    background-color: rgb(48, 0, 80);
    color: #000000;  
    padding-bottom: 0;
    border-bottom: solid;
    border-bottom-color: rgb(134, 134, 134);
    width: 100%;
    text-align: center;
  }
  
  #navbar-title {
    padding-top: 5px;
    font-size: 35px;
    color: rgb(115, 77, 139);
    text-align: center;
  }
  
  #navbar-subtitle {
    padding-bottom: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255)!important;
    text-align: center;
  }
  
  .col-md-1, .col-md-2, .col-md-9 {
    padding: 0px;
  }
  
  #plannerContainer {
    background-color:  rgb(48, 0, 80);
    padding: 30px; 
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 15px;
    
    /* provide spaceing around the text */
    padding: 40px;
  } 
  
  .plannerRow {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 15px;
  }
  
  /* style container with time in it */
  .timeBox {
    background-color: rgb(115, 77, 139);
    color: white;
    height:100%;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* style container with daily plan */
  .dailyPlan {
    color: black; 
    text-align: center; 
    font-size: 12pt;
    height:100%;
    width: 100%;
  }
  
  .saveIcon {
    background-color: rgb(87, 0, 145);
    color: white;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
  }
  .saveIcon:hover {
    background-color: rgb(115, 77, 139);
    color:  rgb(48, 0, 80);
    border-radius: 0px 15px 15px 0px;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
  }
  
  .footer {
    background-color: rgb(100, 99, 99);
    height: 10%;
    border-top: solid;
    border-top-color: rgb(134, 134, 134);;  
    border-top-width: 5px;
  }
  
  .footer-text, .header-text {
    /* forces text across the entire screen so it has a center */
    width: 100%;
    text-align: center;
    font-size: 10px;
    color:white; 
  }
  
  /* media query for screen size to be applied to center text to switch at same time as navbar */
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .plannerRow {
      height: 100%;
      border-radius: 10;
      margin: 10px;
    }
  
    .saveIcon { border-radius: 0 0 15px 15px; }
  
    .timeBox { border-radius: 15px 15px 0 0; }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
  
  .wrapper
  { 
    padding: 20px;     
  } 
  
  @keyframes shadow-pulse
  {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
  }
  .shadowPulse {
    animation: shadow-pulse 1s infinite;
  }